In [1]:
import pandas as pd

In [2]:
import os 
for x in os.listdir(r"C:\Users\Aditya Mithar\Desktop\KP programming\Python\Data Science"):
    if "Sales" in x:
        print(x)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv

In [9]:
directory_path = r"C:\Users\Aditya Mithar\Desktop\KP programming\Python\Data Science"
dataset = pd.DataFrame()

for x in os.listdir(directory_path):
    if "Sales" in x:
        file_path = os.path.join(directory_path, x)
        d = pd.read_csv(file_path)
        dataset = pd.concat([dataset, d])

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175164 entries, 0 to 20378
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          174659 non-null  object
 1   Product           174659 non-null  object
 2   Quantity Ordered  174659 non-null  object
 3   Price Each        174659 non-null  object
 4   Order Date        174659 non-null  object
 5   Purchase Address  174659 non-null  object
dtypes: object(6)
memory usage: 9.4+ MB

In [7]:
dataset.isnull().sum()/dataset.shape[0]*100   #%age of the null values

Order ID            0.288301
Product             0.288301
Quantity Ordered    0.288301
Price Each          0.288301
Order Date          0.288301
Purchase Address    0.288301
dtype: float64

In [8]:
dataset.shape

(175164, 6)

In [10]:
dataset.dropna(axis=0, inplace=True)

In [11]:
dataset.shape

(174659, 6)

In [13]:
dataset.to_csv(r"C:\Users\Aditya Mithar\Desktop\KP programming\Python\Data Science\Output.csv", index=False)

In [15]:
dataset = pd.read_csv("Output.csv")

In [16]:
dataset

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
174654,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
174655,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
174656,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
174657,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
174658,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [17]:
dataset.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [18]:
dataset["Product"].value_counts()

USB-C Charging Cable          20449
Lightning Charging Cable      20329
AAA Batteries (4-pack)        19357
AA Batteries (4-pack)         19260
Wired Headphones              17707
Apple Airpods Headphones      14585
Bose SoundSport Headphones    12499
27in FHD Monitor               7028
iPhone                         6445
27in 4K Gaming Monitor         5849
34in Ultrawide Monitor         5804
Google Phone                   5183
Flatscreen TV                  4509
Macbook Pro Laptop             4436
ThinkPad Laptop                3879
20in Monitor                   3827
Vareebadd Phone                1939
LG Washing Machine              620
LG Dryer                        616
Product                         338
Name: Product, dtype: int64

Some rows are just storing the name of the columns. Displayig them

In [19]:
dataset[dataset["Product"]== "Product"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
517,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1146,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1152,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2869,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2884,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
172315,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
172355,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
172900,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
173170,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
174583,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

Removing the rows that contain just the name of columns

In [20]:
dataset = dataset[dataset["Product"] != "Product"]

In [21]:
dataset.shape

(174321, 6)