In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('cg_gpd.csv')

In [5]:
data.head()

,L 1,L 2,Bastar,Bilaspur,Dantewada,Dhamtari,Durg,Janjgir-Champa,Kanker,Kawardha,Korba,Koriya,Mahasamund,Raigarh,Raipur,Raj Nandgaon,Surguja,Grand Total
0,Agriculture,Crop land,5548.17,3897.68,5038.37,1657.29,6268.00,2753.91,2863.69,2246.77,3074.92,1472.83,2837.45,3462.85,6417.49,3739.20,5704.07,59467.45
1,NaN,Current Shifting cultivation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fallow,122.93,46.31,66.21,27.98,180.41,75.34,86.19,21.19,66.15,51.06,269.72,109.02,304.84,72.36,418.66,2143.79
3,NaN,Plantation,8.16,33.39,0.41,9.39,58.03,1.55,2.15,1.64,0.88,0.03,0.56,3.79,35.43,53.05,13.15,222.25
4,Barren/unculturable/,Barren Rocky,35.09,3.79,35.63,0.74,22.54,10.78,7.75,0.15,87.91,99.74,29.43,88.87,123.99,4.98,80.92,690.78

In [7]:
data.isnull()

,L 1,L 2,Bastar,Bilaspur,Dantewada,Dhamtari,Durg,Janjgir-Champa,Kanker,Kawardha,Korba,Koriya,Mahasamund,Raigarh,Raipur,Raj Nandgaon,Surguja,Grand Total
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,True,False,True,True,True,True,True,True,False,False,False,False,True,True,False,False
6,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,False,True,False,True,False,False,False,True,True,False,False,False,False,False,True,False,False
9,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
15,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
18,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
19,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,False,False,False,True,False,False,False,False,True,True,False,True,False,False,False,True,False,False
21,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
22,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [13]:
data.drop(data['L 1'])

KeyError: "['Agriculture', nan, nan, nan, 'Barren/unculturable/', 'Wastelands', nan, nan, nan, nan, 'Builtup', nan, nan, 'Forest', nan, nan, nan, nan, 'Grass / Grazing', 'Snow and Glacier', 'Wet lands / Water bodies', nan, nan, nan, nan] not found in axis"