> default arguement in functions

> rank() in pandas

>correlation & covariance

# default arguements in functions

```

def add(x=100, y=200): #setting default arguements
    
        z=x+y
        return z

c = add(10, 20)

c = add(10)   #x catches 10 while y takes default arguement

c = add()     #x&y both catches default arguement

```

Refer to notebook

# rank() in pandas

In [12]:
import numpy as np 
import pandas as pd

In [13]:
s1 = pd.Series([9, 5, 7, 4, 2])
s1

0    9
1    5
2    7
3    4
4    2
dtype: int64

In [14]:
s1.rank()

0    5.0
1    3.0
2    4.0
3    2.0
4    1.0
dtype: float64

the rank is displayed in the order of:

|index of element| rank of element|
|----------------|----------------|

In [15]:
s1 = pd.Series([9, 7, 3, 7, 2])
s1

0    9
1    7
2    3
3    7
4    2
dtype: int64

In [16]:
s1.rank()

0    5.0
1    3.5
2    2.0
3    3.5
4    1.0
dtype: float64

There is floating point rank for the repeated elements. **WHY?**

In [17]:
s1.rank(method='max')

0    5.0
1    4.0
2    2.0
3    4.0
4    1.0
dtype: float64

In this case, ranking of repeated elements changes to 4. **Why**

In [18]:
s1.rank(method='min')

0    5.0
1    3.0
2    2.0
3    3.0
4    1.0
dtype: float64

In [19]:
s1 = pd.Series([9,7,7,7,2])
s1

0    9
1    7
2    7
3    7
4    2
dtype: int64

In [20]:
s1.rank()

0    5.0
1    3.0
2    3.0
3    3.0
4    1.0
dtype: float64

In [21]:
s1.rank(method='max')

0    5.0
1    4.0
2    4.0
3    4.0
4    1.0
dtype: float64

In [22]:
s1.rank(method='min')

0    5.0
1    2.0
2    2.0
3    2.0
4    1.0
dtype: float64

In [23]:
s1.rank(pct='True')

0    1.0
1    0.6
2    0.6
3    0.6
4    0.2
dtype: float64

pct: percent wise ranking

How it is calculated:

actual rank of element/no. of element in the series

# Correlation and Covariannce

In [25]:
seq2 = pd.Series([3,4,3,4,5,4,3,2],['2006','2007','2008','2009','2010','2011','2012','2013'])
seq = pd.Series([1,2,3,4,4,3,2,1],['2006','2007','2008','2009','2010','2011','2012','2013'])

In [27]:
seq2

2006    3
2007    4
2008    3
2009    4
2010    5
2011    4
2012    3
2013    2
dtype: int64

In [28]:
seq

2006    1
2007    2
2008    3
2009    4
2010    4
2011    3
2012    2
2013    1
dtype: int64

In [29]:
seq.corr(seq2)

0.7745966692414835

In [39]:
s1 = pd.Series([1,2,3,4,5], [1,2,3,4,5])
s2 = pd.Series([11,12,13,14,15], [7,8,9,10,11])

In [40]:
s1.corr(s2)

nan

In [37]:
s1 = pd.Series([1,2,3,4,5], [1,2,3,4,5])
s2 = pd.Series([11,12,13,14,15], [1,2,3,4,5])

In [38]:
s1.corr(s2)

0.9999999999999999

In [42]:
seq2 = pd.Series([3,4,3,4,5,4,3,2],['2006','2007','2008','2009','2010','2011','2012','2013'])
seq = pd.Series([1,2,3,4,4,3,2,1],['2006','2007','2008','2009','2010','2011','2012','2013'])

In [43]:
seq.cov(seq2)

0.8571428571428571

#  Assigning a NaN value

In [44]:
s2 = pd.Series([11,21,33,np.nan,55], [1,2,3,4,5])
s2

1    11.0
2    21.0
3    33.0
4     NaN
5    55.0
dtype: float64

In [45]:
np.nan + 190

nan

# Handling NaN

Dropping NaN

In [46]:
s2.dropna()

1    11.0
2    21.0
3    33.0
5    55.0
dtype: float64

Filling in NaN Occurrences

In [47]:
s2

1    11.0
2    21.0
3    33.0
4     NaN
5    55.0
dtype: float64

In [48]:
s2.fillna(0)

1    11.0
2    21.0
3    33.0
4     0.0
5    55.0
dtype: float64

# Hierarchical Indexing and Leveling

In [49]:
mser = pd.Series(np.random.rand(8),index=[['white','white','white','blue','blue','red','red','red'],['up','down','right','up','down','up','down','left']])

In [50]:
mser

white  up       0.937322
       down     0.465284
       right    0.771299
blue   up       0.198311
       down     0.119706
red    up       0.551673
       down     0.504726
       left     0.739465
dtype: float64